[project]
	description = A C++ library for interacting with JSON.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benjamin Knecht (bknecht)
[access "refs/for/refs/*"]
	read = group user/Benjamin Knecht (bknecht)
	push = group user/Benjamin Knecht (bknecht)
	label-Code-Review = -2..+2 group user/Benjamin Knecht (bknecht)
	label-Verified = -1..+1 group user/Benjamin Knecht (bknecht)
	rebase = group user/Benjamin Knecht (bknecht)
	removeReviewer = group user/Benjamin Knecht (bknecht)
	submit = group user/Benjamin Knecht (bknecht)
[access "refs/heads/*"]
	read = group user/Benjamin Knecht (bknecht)
	create = group user/Benjamin Knecht (bknecht)
	push = +force group user/Benjamin Knecht (bknecht)
	pushMerge = group user/Benjamin Knecht (bknecht)
[access "refs/tags/*"]
	push = group user/Benjamin Knecht (bknecht)
	push = +force group user/Benjamin Knecht (bknecht)
